/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --darkblue: hsl(233, 26%, 24%);
  --limegreen: hsl(136, 65%, 51%);
  --brightcyan: hsl(192, 70%, 51%);
  --grayblue: hsl(233, 8%, 62%);
  --lightgrayblue: hsl(220, 16%, 96%);
  --lightgray: hsl(0, 0%, 98%);
  --gradient: linear-gradient(135deg, var(--limegreen), var(--brightcyan));
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  background-color: var(--lightgrayblue);
}

h1,
h2,
h3 {
  font-weight: 300;
  color: var(--darkblue);
}

h1 {
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

p {
  font-weight: 400;
  color: var(--grayblue);
  line-height: 1.6rem;
  padding-bottom: 2rem;
}

.button {
  font-weight: 700;
  color: white;
  padding: 1rem 2rem;
  border-radius: 4rem;
  background: var(--gradient);
  text-decoration: none;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  box-shadow: 0 0px 5px rgba(45, 49, 77, 0);
}

.button:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(45, 49, 77, 0.4);
}

#navcontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  perspective: 500px;
  perspective-origin: top;
}

#navcontainer .branding {
  width: 100%;
  background-color: white;
  padding: 1.5rem;
  z-index: 160;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

#navcontainer .nav__invite {
  display: none;
}

#navcontainer nav {
  transition: all 400ms ease-in-out;
  transform-origin: top;
  transform: rotate3d(1, 0, 0, -90deg);
  opacity: 0;
  width: 100%;
  margin: 2rem;
  padding: 1rem 0;
  background-color: var(--lightgray);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 4px;
  filter: drop-shadow(0 10px 25px var(--darkblue));
}

#navcontainer nav.active {
  opacity: 1;
  transform: rotate3d(1, 0, 0, 0deg);
}

#navcontainer nav div {
  margin: 1rem 0;
  font-size: 1.2rem;
}

#hero {
  padding: 0 1rem 2rem 1rem;
  background-color: var(--lightgray);
  background-image: url(img/bg-intro-mobile.svg);
  background-repeat: no-repeat;
}

#hero img {
  width: 100%;
  height: 364px;
  -o-object-position: bottom;
     object-position: bottom;
  -o-object-fit: cover;
     object-fit: cover;
}

#hero .hero__text-container {
  padding: 0 1rem;
}

#hero .hero__text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
}

#features {
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 4rem 2rem;
  display: grid;
  grid-template-rows: auto;
  text-align: center;
}

#features img {
  padding-bottom: 1rem;
}

#articles {
  background-color: var(--lightgray);
  padding: 4rem 2rem;
}

#articles .articles__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

#articles h2 {
  margin-bottom: 2rem;
}

article {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

article img {
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 1rem;
  display: block;
}

article .author {
  display: block;
  font-weight: 700;
  font-size: 10px;
  color: var(--grayblue);
  margin-bottom: 1rem;
  padding: 0 1rem;
}

article .title {
  font-size: 1.2rem;
  color: var(--darkblue);
  padding: 0 1rem;
  margin-bottom: 1rem;
}

article p {
  padding: 0 1rem;
}

footer {
  background-color: var(--darkblue);
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 2rem 1rem;
}

footer ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding-bottom: 2rem;
}

footer ul li {
  color: var(--grayblue);
  padding: 0.5rem;
}

footer .social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 1rem 0;
}

footer .social img {
  padding: 0.5rem;
}

@media (min-width: 767px) {
  #navcontainer {
    background-color: white;
    z-index: 200;
  }
  #navcontainer .branding {
    max-width: 1200px;
    margin: 0 auto;
  }
  #navcontainer .button.nav__invite {
    display: block;
    margin-bottom: 0;
  }
  #navcontainer nav {
    width: 400px;
    margin: 0 auto;
    box-shadow: none;
    -ms-flex-direction: row;
        flex-direction: row;
    padding: 0;
    background-color: unset;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    height: 100%;
    opacity: 1;
    transform: unset;
    transition: unset;
  }
  #navcontainer nav div {
    margin: 0 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
  }
  #navcontainer nav div:after, #navcontainer nav div:before {
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    background-color: var(--grayblue);
    width: 100%;
    transition: transform 300ms ease-out;
    transform: scaleX(0);
    transform-origin: center;
  }
  #navcontainer nav div:before {
    top: -0.5rem;
  }
  #navcontainer nav div:after {
    bottom: -0.5rem;
  }
  #navcontainer nav div:hover:after, #navcontainer nav div:hover:before {
    transform: scaleX(1);
  }
  #navcontainer #open {
    display: none;
  }
  #hero {
    padding: 4rem 2rem 0 2rem;
    height: 75vh;
    display: -ms-flexbox;
    display: flex;
    background-position: 50vw top;
    background-image: url(img/bg-intro-desktop.svg);
    background-size: 120vh;
  }
  #hero img {
    -ms-flex-order: 2;
        order: 2;
    -o-object-fit: unset;
       object-fit: unset;
    -o-object-position: unset;
       object-position: unset;
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(95px);
    width: auto;
    max-width: 50%;
    height: auto;
    max-height: 100vh;
  }
  #hero .hero__text-container {
    -ms-flex-order: 1;
        order: 1;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }
  #hero .hero__text {
    -ms-flex-align: start;
        align-items: flex-start;
    text-align: left;
    max-width: 50%;
  }
  .features__container {
    padding: 0 2rem;
  }
  #features {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 0;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    text-align: left;
  }
  #features .feature {
    grid-row: 2 / 3;
  }
  #features .feature:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 /3;
  }
  #articles .articles__container {
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    max-width: 1200px;
    -ms-flex-align: stretch;
        align-items: stretch;
    margin: 0 auto;
  }
  #articles img {
    display: block;
    max-height: 180px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #articles h2 {
    -ms-flex: 1 1 100%;
        flex: 1 1 100%;
  }
  #articles article {
    -ms-flex: 1 1 20%;
        flex: 1 1 20%;
    margin-right: 2rem;
  }
  #articles article:last-child {
    margin-right: 0;
  }
}
/*# sourceMappingURL=styles.css.map */